
<ul id='links'>
  <% @links.each do |link| %>
  <li>
     name: <%= link.name %>
     url: <%= link.url    %>
   </li>
  <% end%>
</ul>

<form action='/links/new' method='GET'>
  <input type=submit value='Add a new link'>
</form>
